doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Document
    body 
        header 
            h1 SOOM 
        main 
        div#welcome
            form
                input(type="text", placeholder="Write room name", required)
                button Enter Room  
            h4 Open Rooms: 
            ul 
        div#name
            form
                input(type="text", required, placeholder="Write your nickname")
                button Save
        div#room
            h3
            h4 
            ul 
            form#msg
                input(type="text", required, placeholder="message")
                button Send
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 